@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);

#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-0 .mbr-navbar__items a {
  font-size: 16px;
  font-family: 'Roboto Slab', serif;
}
#header1-1 H1 {
  text-align: left;
}
#header1-1 SPAN {
  text-align: center;
}
#header1-1 P {
  text-align: left;
}
#features1-o P {
  color: #777777;
}
#msg-box3-15 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-15 .mbr-header .mbr-header__subtext {
  text-align: center;
}
